@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
/*This pulls the font from a specific url and should always be at the top of the page.*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body	{
	font-family: "Georgia", sans-serif;
}

header {
    padding: 20px;
}

#blogname	{
	float: left;
	margin-top: 0.5em;
	margin-left: 1em;
	font-family: 'Homemade Apple', cursive;
	font-size: 2.5em;
}

nav {
	letter-spacing: 1px;
	float: left;
	margin-left: 25em;
	margin-top: 1em;
	padding: 1em 0.5em; 
}

nav a {
	text-decoration: none;
  	color: #000000;
  	font-family: "Avenir Next";
  	text-transform: uppercase;
  	padding: 1em;
	font-size: 1em;
}

/* LoVe HAte*/

a:link{
	color:#A496B2;
}

/*Visited may not be as relevant to my site as I don't have an information
heavy site. For a site like Google, it makes sense to have the visited link 
appears purple.

a:visited{
	color: inherit;
}
*/

a:hover{
	color:#A496B2;
}

/* Active is as the link is being clicked. Active is relevant for tablet and mobile sites (for touch devices). 
In regular sites, the active link flashes and isn't really helpful.

a:active{

}

*/
section {
	padding-bottom: 2em;
	margin-left: 1em;
}

article {
	max-width: 70em;
	/*background-color: yellow;*/
}

h2 {
	font-family: 'Homemade Apple', 'Georgia', serif;
	font-size: 1.75em;
	line-height: 50px;
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-style: italic;
	text-align: center; 
}

h3 {
	font-family: "Avenir Next";
	text-align: center; 
}

.social {
	float: right;
	margin-right: 2em;
	margin-top: 1.5em;
}

.top {
	padding-top: 0.5em;
	padding-bottom: 2em;
}

#hero {
	background: url("images/sunset.jpg") no-repeat 50% 40% scroll;
	background-size: cover;
	height: 500px;
}

.wrapper {
	margin: 0, auto;
	padding-top: 2em;
	padding-left: 20em;
	padding-right: 20em;
}

.welcome {
	font-family: 'Homemade Apple', 'Georgia', serif;
	font-size: 1.5em;
	font-style: italic;
	text-align: left;
	line-height: 50px;
}

.signature {
	font-family: 'Homemade Apple', 'Georgia', serif;
	font-size: 1.25em;
	font-style: italic;
	text-align: right;
	line-height: 50px;
	padding-top: 1em;
	padding-right: 6em;
}

.welcometext 	{
	line-height: 1.5em;
	max-width: 90em;
}

.kalyani {
	width: 15%;
	float: left;
	padding-right: 2%;
}

.kalyanirightcolumn {
	width: 50%;
	float: left;
	padding-right: 2%;
}

.clearfix:after{
    height:0;
    font-size:0;
    visibility:hidden;
    content:" ";
    display:block;
    clear:both;
}

.pagetitle {
	font-family: "Avenir Next";
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
}

.aboutkalyani{
	height: 400px;
	padding-bottom: 1em;
	text-align: center;
}

.castle{
	height: 490px;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	vertical-align: center;
	text-align: center; 
}

aside {
}

/* for Unit 6 assignment*/
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 80%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 20%;
}

/* for Unit 6 assignment*/
footer	{
    padding: 20px;
	text-align: center;
	font-family: "Avenir Next";
	font-size: 14px;
}