@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
/*This pulls the font from a specific url and should always be at the top of the page.*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body	{
	font-family: "Georgia", sans-serif;
}

#title	{
	text-transform: uppercase;
}

#subtitle {
	font-style: italic;
}


h1	{
	font-family: 'Playfair Display', serif;
}

p 	{
	text-align: center;
	max-width: 30em;
}

.kalyani {
	text-align: left;
}

.footer	{
	text-align: center;
}